.page-header {
    margin-top: 7rem;
    font-family: 'Montserrat', sans-serif;
}

.diferencias {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 2.25rem;
}

.diferencias p, ul {
    font-weight: 400;
}

.diferencias li {
    background-image: url("../imgs/ventaja.png");
    background-repeat: no-repeat;
    text-indent: 1.25rem;
    background-position-y: 0.6rem;
}

.ventajas {
    font-family: 'Montserrat', sans-serif;
}

.beneficios {
    font-family: 'Montserrat', sans-serif;
}

.beneficios h2 {
    font-weight: 200;
}

.modulos .header {
    width: 50%;
    margin-bottom: 3rem;
}

.icon-base {
    display: inline-block;
    background: #fff;
    padding-top: 1.8rem;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;
}

a.disabled {
    color: gray;
    pointer-events: none;
}

.logos-img {
    filter: grayscale(1);
}

.logos-img:hover {
    animation-name: gtc;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.funciones{
    font-family: 'Montserrat', sans-serif;
}

.funciones p {
    font-weight: 100;
}

.funciones .stacked-icon {
    font-size: 2.9rem;
}

.funciones .stack-2 {
    opacity: 0.2;
    font-size: 4rem;
    margin-top: 0.25rem;
}

.funciones .stack-1 {
    margin-left: 0.25rem;
}

.text-wood {
    color: #000000 !important;
}

.principal {
    height: 6rem;
}

/* GRAY TO COLOR ANIMATION */
@keyframes gtc {
    from {filter: grayscale(1);}
    to {filter: none;}
}

.contactanos {
    margin-bottom: 2rem;
}

footer {
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: absolute;
}

.footer-icons {
    position: relative;
}